DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=databaseofbabel
DATABASE_USERNAME=metakgp_user
DATABASE_PASSWORD=somerandomstringfordevelopment
PGPASSFILE=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_ACCESS_TOKEN=
DROPBOX_REFRESH_TOKEN=
SLACK_INCIDENTS_WH_URL=